# Dependências
node_modules

# Build do Next.js
.next
out

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Banco de dados
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.codex-runtime
*.tsbuildinfo

# Sistema
.DS_Store
Thumbs.db

# Arquivos desnecessários
*.zip
*.msi

# Seus arquivos específicos
public/ProcessExplorer
public/ProcessExplorer.zip
public/node-v22.22.2-x64.msi
